couchbase>=4.2.1
streamlit>=1.32.2
httpx>=0.27.0
langchain>=0.1.13
langchain-community>=0.0.29
langchain-openai>=0.1.0
tiktoken>=0.6.0
pypdf>=4.1.0
requests>=2.31.0
cbcmgr>=2.2.39
tqdm>=4.66.2
lxml>=5.1.1
jq>=1.7.0
beautifulsoup4>=4.12.3
certifi>=2024.2.2
python-certifi-win32>=1.6.1
pillow>=10.2.0
